@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

title, script{
    display: none;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 491px;
    padding: 0 0 20px 0;
}

.lg_txt{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
}

.header_img{
    background-color: rgba(0, 0, 0, 0.67);
}
header{
    background-image: url(img/header.png);
    background-size: 100%;
    background-repeat: no-repeat;
}   

.head_txt{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 70%;
}

.head_txt a{
    width: auto;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

.head_txt a:hover{
   color: #DFFF1A;
}

hr{
    margin: auto;
    max-width: 70%;
    width: 83%;
    height: 0px;
    background-color: #fff;
    border: 2px solid #FFFFFF;
    margin-top: 28px;
}

.zag{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    padding: 3% 0;
    color: #fff;
}

.main1, .main2{
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.main1{
    margin-top: 5%;
}

.main2{
    margin-top: 5%;
}

.main1_img{
    padding: 10px;
    z-index: 10;
    margin-right: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main2_img{
    padding: 10px;
    z-index: 10;
    margin-right: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main3_img{
    padding: 10px;
    z-index: 10;
    margin-right: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
}

.main1_img img{
    width: 100%;
}

.main2_img img{
    width: 100%;
    background-color: #fff;
}

.main1_content{
    z-index: 5;
    width: 100%;
    background: #CFEBFF;
    padding: 20px 20px 20px 100px;
}

.main2_content{
    z-index: 5;
    width: 100%;
    padding: 20px 20px 20px 100px;
    background: rgba(221, 220, 0, 0.31);
}

.main1_zag{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.main1_txt{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

.main1_btn{
    margin-top: 69px;
    width: auto;
    display: flex;
    justify-content: center;
}

.main1_btn a{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    text-align: justify;
    color: #28B3EF;
    background: #FFFFFF;
    border: 3px solid #28B3EF;
    border-radius: 8px;
    width: auto;
    padding: 15px 20px;
    text-decoration: none;
}

.main1_btn a:hover{
   color: #fff;
   background-color: #28B3EF;
}

.foot_txt{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 70%;
}

.foot_txt a{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: justify;
    color: #FFFFFF;
    text-decoration: none;    
}

.footer_img{
    padding: 80px;
}

.footer_img a:hover{
   color: #DFFF1A;
}

footer{
    margin-top: 68px;
    background-image: url(img/header.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1142px) and (min-width:1025px){

    .foot_txt a{
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 43px;
        text-align: justify;
        color: #FFFFFF;
        text-decoration: none;    
    }

}

@media screen and (max-width: 1024px) and (min-width:769px){ 
    
    .head_txt a{
        width: auto;
        margin-top: 30px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 26px;
    }

    .main1, .main2{
        padding: 0 10%;
    }

    .zag{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        padding: 3% 0;
        color: #fff;
    }

    header{
        background-image: url(img/header.png);
        background-size: 110%;
        background-repeat: no-repeat;
    } 

    .main1_zag{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
    }

    .main1_txt{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px;
    }

    .foot_txt a{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 43px;
        text-align: justify;
        color: #FFFFFF;
        text-decoration: none;    
    }

    .main1_img{
        padding: 10px;
        z-index: 10;
        margin-right: -80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .main2_img{
        padding: 10px;
        z-index: 10;
        margin-right: -80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .main3_img{
        padding: 10px;
        z-index: 10;
        margin-right: -80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 54%;
    }

    footer{
        margin-top: 68px;
        background-image: url(img/header.png);
        background-size: 140%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 768px) and (min-width:426px){ 

    header{
        background-image: none;
    }

    footer{
        background-image: none;
    }

    .lg_txt{
        display: none;
    }

    .logo_img{
        margin: auto;
    }

    .main1_img img{
        width: 55%;
        margin: auto;
    }
    
    .main2_img img{
        width: 55%;
        background-color: #fff;
        margin: auto;
    }

    .main3_img img{
        width: 80%;
        margin: auto;
    }

    .header_img{
        background-color: #fff  ;
    }

    .main1_content{
        text-align: center;
        z-index: 5;
        width: 91%;
        background: #CFEBFF;
        padding: 20px 20px 20px 20px;
    }
    
    .main2_content{
        text-align: center;
        z-index: 5;
        width: 95%;
        padding: 20px 10px 20px 10px;
        background: rgba(221, 220, 0, 0.31);
    }


    .main1{
        display: flex;
        flex-direction: column-reverse;
        z-index: 10;
        margin: auto;
        width: 100%;
    }

    .main2{
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 0;
        z-index: 10;
        display: flex;
        width: 100%;
    }

    .main1_img{
        padding: 10px 0;
    }
    
    .main2_img{
        padding: 10px 0;
    }

    .main3_img{
        padding: 10px 0;
        z-index: 10;
        margin-right: -80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .main1_btn{
        margin-top: 55px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    hr{
        display: none;
    }

    .head_txt{
        display: none;
    }

    .footer_img{
        display: none;
    }

    .foot_txt{
        display: none;
    }

    .zag{
        color: #000;
        margin: auto;
    }

}

@media screen and (max-width: 425px) and (min-width:375px){ 

    header{
        background-image: none;
    }

    footer{
        background-image: none;
    }

    .lg_txt{
        display: none;
    }

    .logo_img{
        margin: auto;
    }

    .logo_img img{
        align-items: center;
    }

    .main1_img img{
        width: 95%;
    }
    
    .main2_img img{
        width: 95%;
        background-color: #fff;
    }

    .main3_img img{
        width: 178%;
    }

    .header_img{
        background-color: #fff  ;
    }

    .main1_content{
        text-align: center;
        z-index: 5;
        width: 90%;
        background: #CFEBFF;
        padding: 20px 20px 20px 20px;
    }
    
    .main2_content{
        text-align: center;
        z-index: 5;
        width: 90%;
        padding: 20px 20px 20px 20px;
        background: rgba(221, 220, 0, 0.31);
    }


    .main1{
        display: flex;
        flex-direction: column-reverse;
        z-index: 10;
        width: 100%;
    }

    .main2{
        display: flex;
        flex-direction: column-reverse;
        z-index: 10;
        display: flex;
        width: 100%;
    }

    .main3_img{
        padding: 10 0 0 0;
        z-index: 10;
        margin-right: -80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 54%;
    }

    .main1_btn{
        margin-top: 55px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    hr{
        display: none;
    }

    .head_txt{
        display: none;
    }

    .footer_img{
        display: none;
    }

    .foot_txt{
        display: none;
    }

    .zag{
        color: #000;
        margin: auto;
    }

}
